In [1]:
import pandas as pd
import numpy as np

# Load the CSV
df = pd.read_csv("data/T_ONTIME_REPORTING.csv")

# Convert FL_DATE to datetime.date
df["FL_DATE"] = pd.to_datetime(df["FL_DATE"], errors='coerce').dt.date

# Replace NaN with None for SQL compatibility
df = df.replace({np.nan: None})

# Optional: Validate number of columns matches your SQL insert
print("âœ… Sample cleaned row with expected 25 values:", len(df.iloc[0]))

C:\Users\DELL\AppData\Local\Temp\ipykernel_11776\1064660231.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["FL_DATE"] = pd.to_datetime(df["FL_DATE"], errors='coerce').dt.date

âœ… Sample cleaned row with expected 25 values: 24

In [2]:
df.sample(5)

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,...,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
6986,2025,3,1,6,2025-03-01,MQ,3457,CLT,HHH,1620,...,-21.0,0.0,None,0.0,207.0,None,None,None,None,None
125475,2025,3,7,5,2025-03-07,UA,769,DEN,MCI,1016,...,32.0,0.0,None,0.0,533.0,0.0,0.0,32.0,0.0,0.0
66835,2025,3,4,2,2025-03-04,UA,1314,SFO,IAH,1304,...,99.0,0.0,None,0.0,1635.0,5.0,0.0,14.0,0.0,80.0
486608,2025,3,26,3,2025-03-26,DL,1150,ATL,MCO,1440,...,9.0,0.0,None,0.0,404.0,None,None,None,None,None
518895,2025,3,27,4,2025-03-27,WN,2926,TPA,BWI,650,...,-8.0,0.0,None,0.0,842.0,None,None,None,None,None

In [3]:
print(f"ðŸ§¾ Number of columns in DataFrame: {len(df.columns)}")
print(df.columns.tolist())

ðŸ§¾ Number of columns in DataFrame: 24
['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']

In [4]:
expected_columns = [
    "YEAR", "MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "FL_DATE",
    "OP_UNIQUE_CARRIER", "OP_CARRIER_FL_NUM", "ORIGIN", "DEST",
    "CRS_DEP_TIME", "DEP_TIME", "DEP_DELAY",
    "CRS_ARR_TIME", "ARR_TIME", "ARR_DELAY",
    "CANCELLED", "CANCELLATION_CODE", "DIVERTED", "DISTANCE",
    "CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"
]

# Add missing columns with None
for col in expected_columns:
    if col not in df.columns:
        df[col] = None

# Reorder columns to match expected SQL order (optional but clean)
df = df[expected_columns]

# Convert NaN to None for SQL insertion
df = df.replace({np.nan: None})

# Final check
print("âœ… Row length after fix:", len(df.iloc[0]))  # Should now be 25

âœ… Row length after fix: 24

In [ ]:
(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
            """, values)